@font-face {
    font-family: 'Alegreya Sans';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/AlegreyaSans-Light.ttf);
}

@font-face {
    font-family: 'Alegreya Sans';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/AlegreyaSans-LightItalic.ttf);
}

@font-face {
    font-family: 'Alegreya Sans';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/AlegreyaSans-Regular.ttf);
}

@font-face {
    font-family: 'Alegreya Sans';
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/AlegreyaSans-Italic.ttf);
}

@font-face {
    font-family: 'Alegreya Sans';
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/AlegreyaSans-Bold.ttf);
}
